@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body{
  font-family: "Merriweather", serif;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



/* banner section */

.banner-container{
  max-width: 1320px;
  min-height: 600px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.5);
background-image: url("./new-year-offer-resources-main/images/Banner\ Image.png");
background-repeat: no-repeat;
background-size: cover;
background-blend-mode: overlay;
}

.banner-content{
  color: rgb(255, 255, 255);
display: flex;
flex-direction: column;
justify-content: center;
height: 600px;
align-items: center;
}

#p-title{
  font-size: 32px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0%;
text-align: center;
}

#h1-title{
  font-size: 72px;
font-weight: 900;
line-height: 95px;
letter-spacing: 0%;
text-align: center;
margin-top: 30px;
}

/* offer section  */

.second-section-container{
width: 802.9px;
height: 806px;
margin: 0 auto;
margin-top: 60px;
/* background-image: url("./new-year-offer-resources-main/images/New\ Year\ Photo.png"); */
background-repeat: no-repeat;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.second-section-content{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;


}

.second-section-content h1{
  color: rgb(255, 0, 0);
font-family: Inter;
font-size: 88px;
font-weight: 700;
margin-top: 20px;

}

.second-section-content p{
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
}

.second-section-content h3{
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  margin-top: 30px;
}

.image-section{
  
width: 802.9px;
height: 500px;

}

/* mid night party section here  */

.mid-night-party{
  width: 1320px;
height: 600px;
margin: 0 auto;
margin-top: 120px;
display: flex;
background-color: rgba(0, 0, 0, 0.5);
background-image: url("./new-year-offer-resources-main/images/Vectorrr.png");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-blend-mode: overlay;
}

.lefside-content{
  width: 50%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  
}



.rightside-content{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightside-content img {
  width: 349.16px;
  height: 464.65px;
}

.lefside-content h1{
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;

}

.lefside-content p{
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  margin-left: 60px;
  margin-top: 20px;
}

.lefside-content {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;

}
  
.btn{
  margin-right: 400px;
  margin-top: 20px;
}
  

/* time , zone , place  */

/* .time{
  border: 2px solid red;
  width: 1320px;
height: 482px;
display: flex;
margin: 0 auto;
margin-top: 120px;
background-color: border-radius: 16px;
background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);;
} */



















